* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: burlywood;
}

#petCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.pets {
    border: 3px solid coral;
    border-radius: 6px;
    background-color: cornsilk;
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.pets img {
     width: 50%;
     height: 11vw;
     object-fit: cover;
     border: 2px solid cornflowerblue;
     background-color: white;
  
}

.pet-name {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
   
    }

.pet-color {
    font-family: sans-serif;
}

.pet-skills {
    font-family: sans-serif;
    text-align: center;
  
}

.pet-type {
    font-family: sans-serif;
    background-color: gainsboro;
    
}

#All {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#Cat {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#Dog {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#Bird {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#All {
    background-color: lightgreen;
    color: black;
    border: 2px solid #4CAF50;
}

#Cat {
    background-color: lightyellow;
    color: black;
    border: 2px solid goldenrod;
}

#Dog {
    background-color:lightblue;
    color: black;
    border: 2px solid navy;
}

#Bird {
    background-color: lightcoral;
    color: black;
    border: 2px solid coral;
}
