* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: lightgray;
}

#petCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.pets {
    border-radius: 6px;
    background-color: gray;
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.pets img {
     width: 50%;
     height: 11vw;
     object-fit: cover;
     background-color: white;
  
}

.pet-name {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
   
    }

.pet-color {
    font-family: sans-serif;
}

.pet-skills {
    font-family: sans-serif;
    text-align: center;
  
}

.pet-type {
    font-family: sans-serif;
    background-color: gainsboro;
    
}

#All {
    background-color: slategray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#Cat {
    background-color: skyblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#Dog {
    background-color: rgba(96, 96, 163, 0.699);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#Bird {
    background-color: lightsteelblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

